img{
  width: auto;
  max-height: 100px;
}

mat-grid-tile.top{
  background-color: #f2f2f2;
}
mat-card.error{
  background-color: #991f00;
  color: #f2f2f2;
  min-width: 50%;
  text-align: center;
}
div.logo{
  position: absolute;
  left: 5px;
}
div.logout{
  position: absolute;
  right: 10%;
  margin-top: 20px;
}

mat-vertical-stepper {
  border-radius: 100%;
  background: transparent;
}
mat-step {
  background: transparent;
}
mat-card-subtitle {
  background-color: #006EC7;
  max-width: 360px;
}

mat-card.inner {
  align-items: center;
  border-radius: 100%;
  background: transparent;
  margin-top: 20px;
  margin-left: 70px;
}
mat-card.out {
  align-items: center;
  border-radius: 100%;
  min-width: 480px;
  min-height: 480px;
  background: transparent;;
}

mat-step-header .mat-step-label {
  overflow: visible;
}

mat-step-header .mat-step-icon-not-touched span,
mat-step-header .mat-step-icon span,
mat-step-header .mat-step-icon-not-touched .mat-icon,
mat-step-header .mat-step-icon .mat-icon {
  display: none;
}

mat-step-header:nth-of-type(1) .mat-step-icon-not-touched:after,
mat-step-header:nth-of-type(1) .mat-step-icon:after {
  content: 'New 1';
}

.active-step-1 mat-step-header:nth-of-type(1) .mat-step-icon-not-touched::after,
.active-step-1 mat-step-header:nth-of-type(1) .mat-step-icon::after {
  content: 'add_circle' !important; /* name of the material icon */
  font-family: 'Material Icons' !important;
  font-feature-settings: 'liga' 1;
}


